<script type='text/javascript'>
    var networkcnt = 0;
    var diskcnt = 0;
    function addNetwork(){
        var newdiv = document.createElement('div');
	    newdiv.style.border = "1px solid black";
	    newdiv.style.padding = "10px";
	    var title = document.createElement('h3')
	        title.innerHTML = "Network " + networkcnt
	    var bridgeno_label = document.createElement('label');
	        bridgeno_label.innerHTML = "bridge: ";
            var bridgeno = document.createElement('input');
	        bridgeno.name = "net_" + networkcnt + "_bridge";
	    var mac_label = document.createElement('label');
	        mac_label.innerHTML = "mac: ";
            var mac = document.createElement('input');
	        mac.value       = "auto";
	        mac.name = "net_" + networkcnt + "_mac";
	    var driver_label = document.createElement('label');
	        driver_label.innerHTML = "driver: ";
            var driver = document.createElement('select');
{% for v in NIC_TYPES %}
            var {{NIC_TYPES[v]['short']}} = new Option();
                {{NIC_TYPES[v]['short']}}.text  = "{{NIC_TYPES[v]['name']}} - {{NIC_TYPES[v]['description']}}";
                {{NIC_TYPES[v]['short']}}.value = "{{NIC_TYPES[v]['name']}}";
                driver.options.add({{NIC_TYPES[v]['short']}});
	        driver.name = "net_" + networkcnt + "_driver";
{% endfor %}
	    var deletenetwork = document.createElement('a');
	        deletenetwork.href = '#';
	        deletenetwork.innerHTML = "Delete network";
	    deletenetwork.onclick = function(){this.parentElement.remove();}
	newdiv.appendChild(title);
	newdiv.appendChild(bridgeno_label);
	newdiv.appendChild(bridgeno);
	newdiv.appendChild(document.createElement('br'));

	newdiv.appendChild(mac_label);
	newdiv.appendChild(mac);
	newdiv.appendChild(document.createElement('br'));

	newdiv.appendChild(driver_label);
	newdiv.appendChild(driver);
	newdiv.appendChild(document.createElement('br'));

	newdiv.appendChild(deletenetwork);
        document.getElementById('net-bucket').appendChild(newdiv);
	networkcnt++;
	return networkcnt-1;
    }
    function addDisk(){
        var newdiv = document.createElement('div');
	    newdiv.style.border = "1px solid black";
	    newdiv.style.padding = "10px";
	    var title = document.createElement('h3')
	        title.innerHTML = "Disk " + diskcnt
	    var path_label = document.createElement('label');
	        path_label.innerHTML = "path: ";
            var path = document.createElement('input');
	        path.name = "dsk_" + diskcnt + "_path";
	    var size_label = document.createElement('label');
	        size_label.innerHTML = "size: ";
            var size = document.createElement('input');
	        size.name = "dsk_" + diskcnt + "_size"
	    var driver_label = document.createElement('label');
	        driver_label.innerHTML = "driver: ";
            var driver = document.createElement('select');
{% for v in DISK_TYPES %}
            var {{DISK_TYPES[v]['short']}} = new Option();
                {{DISK_TYPES[v]['short']}}.text  = "{{DISK_TYPES[v]['name']}} - {{DISK_TYPES[v]['description']}}";
                {{DISK_TYPES[v]['short']}}.value = "{{DISK_TYPES[v]['name']}}";
                driver.options.add({{DISK_TYPES[v]['short']}});
	        driver.name = "dsk_" + diskcnt + "_driver";
{% endfor %}
	    var backing_label = document.createElement('label');
	        backing_label.innerHTML = "backing: ";
            var backing = document.createElement('select');
{% for v in BACKING_TYPES %}
            var {{BACKING_TYPES[v]['short']}} = new Option();
                {{BACKING_TYPES[v]['short']}}.text  = "{{BACKING_TYPES[v]['name']}} - {{BACKING_TYPES[v]['description']}}";
                {{BACKING_TYPES[v]['short']}}.value = "{{BACKING_TYPES[v]['name']}}";
                backing.options.add({{BACKING_TYPES[v]['short']}});
	        backing.name = "dsk_" + diskcnt + "_backing";
{% endfor %}
	    var create_disk_label = document.createElement('label');
	        create_disk_label.innerHTML = "create disks?: "
            var create_disk = document.createElement('select');
            var yes = new Option();
                yes.text  = "yes";
                yes.value = "yes";
                create_disk.options.add(yes);
            var no = new Option();
                no.text  = "no";
                no.value = "no";
                create_disk.options.add(no);
	        create_disk.name = "dsk_" + diskcnt + "_create_disk";
	    var deletedisk = document.createElement('a');
	        deletedisk.href = '#';
	        deletedisk.innerHTML = "Delete disk";
	    deletedisk.onclick = function(){this.parentElement.remove();}

	newdiv.appendChild(title);
	newdiv.appendChild(path_label);
	newdiv.appendChild(path);
	newdiv.appendChild(document.createElement('br'));

	newdiv.appendChild(size_label);
	newdiv.appendChild(size);
	newdiv.appendChild(document.createElement('br'));

	newdiv.appendChild(driver_label);
	newdiv.appendChild(driver);
	newdiv.appendChild(document.createElement('br'));

	newdiv.appendChild(backing_label);
	newdiv.appendChild(backing);
	newdiv.appendChild(document.createElement('br'));

	newdiv.appendChild(create_disk_label);
	newdiv.appendChild(create_disk);
	newdiv.appendChild(document.createElement('br'));

	newdiv.appendChild(deletedisk);
        document.getElementById('disk-bucket').appendChild(newdiv);
	diskcnt++;
	return diskcnt-1;
    }
</script>

<body>
	<h1>{% if vm is defined %}Edit{% else %}Create{% endif %} VM</h1>
	<form method='POST' action='{% if vm is defined %}/vm/edit/{{vm.name}}{% else %}/vm/create{% endif %}'>
		<label>vm name:</label>
		<input name="name" type="text" value="{% if vm is defined %}{{vm.name}}{% endif %}"/><br/>

		<label>cpus:</label>
		<input name="ncpus" type="text" value="{% if vm is defined %}{{vm.ncpus}}{% endif %}"/><br/>

		<label>memory:</label>
		<input name="memory" type="text" value="{% if vm is defined %}{{vm.memory}}{% endif %}"/><br/>

		<label>onboot:</label>
		<select name="auto_start">
			<option value="True">Yes</option>
			<option value="False">No</option>
		</select><br/>

		<label>iso:</label>
		<input name="iso" type="text" value="{% if vm is defined %}{{vm.iso}}{% endif %}"/><br/>

		<div style="border: 1px solid black; padding: 10px;" id='net-bucket'>
			<h2>Networks</h2>
		</div>
	        <a href="#" onclick="addNetwork();">Add network</a><br/>

		<div style="border: 1px solid black; padding: 10px;" id='disk-bucket'>
			<h2>Disks</h2>
		</div>
		<a href="#" onclick="addDisk();">Add disk</a><br/>

		<select {% if vm is defined %}disabled{% endif %}  name="host">
			{% for host in hosts %}
			<option {% if vm is defined and host == vm.host %} selected {% endif %}value="{{host}}">{{host}}</option>
			{% endfor %}
		</select><br/>

		<input type="submit" value="{% if vm is defined %}Update{% else %}Create{% endif %}"/>
	</form>
</body>
<script type='text/javascript'>
	function initialize_networks() {
	{% if vm is defined %}
	{% for network in vm.network %}
		var i = addNetwork();
		bridge = document.getElementsByName('net_' + i + '_bridge')[0];
		bridge.value = '{{network.bridge}}';

		mac = document.getElementsByName('net_' + i + '_mac')[0];
		mac.value = '{{network.mac}}';

		driver = document.getElementsByName('net_' + i + '_driver')[0];
		for (i=0; i < driver.options.length; i++){
			if (driver.options[i].value == "{{network.driver}}"){
				driver.options[i].selected = "selected";
			}
		}
		initialize_disks();
		
	{% endfor %}
	}
	function initialize_disks() {
	{% for disk in vm.disk %}
		var i = addDisk();
		path = document.getElementsByName('dsk_' + i + '_path')[0];
		path.value = '{{disk.path}}';

		size = document.getElementsByName('dsk_' + i + '_size')[0];
		size.value = '{{disk.size}}';

		driver = document.getElementsByName('dsk_' + i + '_driver')[0];
		for (j=0; j < driver.options.length; j++){
			if (driver.options[j].value == "{{disk.driver}}"){
				driver.options[j].selected = "selected";
			}
		}
		backing = document.getElementsByName('dsk_' + i + '_backing')[0];
		for (j=0; j < backing.options.length; j++){
			if (backing.options[j].value == "{{disk.backing}}"){
				backing.options[j].selected = "selected";
			}
		}

		create_disk = document.getElementsByName('dsk_' + i + '_create_disk')[0];
		for (j=0; j < create_disk.options.length; j++){
			if (create_disk.options[j].value == "{{disk.create_disk}}"){
				create_disk.options[j].selected = "selected";
			}
		}
	{% endfor %}
	{% endif %}
	}
	window.onload = initialize_networks;
</script>
